*{
  /* border: 1px black solid; */
}
/* Styles for the bookCourt container */
.bookCourt-container {
  width: 80%;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  margin-left: 170px;
}

/* Styles for the title */
.bookCourt-title {
  text-align: center;
  font-size: 50px;
}

/* Styles for the body */
.bookCourt-body {
  display: flex;
  justify-content: space-between;
}

/* Styles for left and right sections */
.bookCourt-section {
  flex: 1;
  padding: 20px;
}

/* Styles for form groups */
.bookCourt-form-group4 {
  display: flex;
  margin-top: 20px;
  margin-left: 60px;
}

.bookCourt-form-group4 select {
  width: 30%;
  text-align: center;
  margin: 0 20px;
}

.text {
  color: var(--textColor);
  margin-top: 5px;
}

.bookCourt-form-group5 {
  display: flex;
  margin-top: 20px;
  margin-left: 60px;
}

.bookCourt-form-group5 select {
  width: 70%;
  margin-left: 27px;
  text-align: center;
}

.bookCourt-form-group5 label {
  margin-top: 5px;
}

.bookCourt-form-group1 select {
  margin-top: 5px;
}

.bookCourt-form-group2 {
  position: fixed;
  top: 600px;
}

.bookCourt-form-group3 {
  position: fixed;
  top: 700px;
}

.inputradio {
  position: fixed;
  left: -45%;
  margin-top: 7px;
  display: inline;
}
.tab1 {
  left: -40%;
}

/* Styles for radio buttons */
.bookCourt-radio-group {
  margin-bottom: 20px;
}

/* Styles for the submit button */
.bookCourt-complete-booking-button {
  display: block;
  width: 60%;
  height: 7%;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 20px;
  left: 350px;
  font-size: 20px;
}

/* Hover effect for the submit button */
.bookCourt-complete-booking-button:hover {
  background-color: var(--PrimaryColor);
  border: none;
}

/* Styles for select inputs */
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Styles for textareas */

/* Styles for hidden elements */
[hidden] {
  display: none;
}

.bookCourt-form-subgroup {
  display: flex;
}

.bookCourt-form-subgroup label {
  margin-top: 10px;
  margin-right: 5px;
}

.bookCourt-form-subgroup span {
  margin-top: 10px;
  color: var(--textColor);
  margin-left: 5px;
}

.bookCourt-form-subgroup input {
  width: 200px;
  text-align: center;
}

.bookCourt-option1 {
  display: flex;
  margin-top: 10px;
  margin-left: 40px;
}

.bookCourt-option2 {
  display: flex;
  margin-left: 40px;
}

.bookCourt-option1 select {
  width: 60%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 50px;
}

.bookCourt-option2 select {
  width: 60%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 62px;
}

.bookCourt-option1 label {
  margin-top: 15px;
}

.bookCourt-option2 label {
  margin-top: 15px;
}

.bookCourt-left-section {
  margin-left: -100px;
}

.bookCourt-radio-group {
  margin-left: 50px;
}

.bookCourt-right-section {
  margin-right: -50px;
}

.notes {
  margin-top: 20px;
  color: black;
}

.bookcourt-status {
  display: flexbox;
}

.buyTimeBtn {
  display: block;
  background-color: black;
  padding: 2%;
  width:fit-content;
}
.buyTimeBtn:hover{
  background-color: var(--PrimaryColor);
}
#datePicker{
  margin-left: 1%;
  display: block;
  width: 50%;
}
#dateError{
  color: red;
}
.tab2 {
  /* position: relative; */
  margin-left: 7.5%;
}
#nowrap{
  white-space: nowrap;
}
/*--------------------Changed from here---------------------------------*/
.inputradioRight2 {
  display: flexbox;
  width: 10%;
}
.inputradioRight {
  display: none;
}

.bookCourt_span {
  position: relative;
  display: flex;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 10px;
  height: auto;
  width: 40%;
}

.bookCourt_span img {
  width: 15%; /* Adjust the size as needed */
  height: 15%;
  object-fit: contain;
  display: flex;
}

.bookCourt_span.selected {
  border: 2px solid #007bff; /* Change color as needed */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  height: auto;
  width: 40%;
}

.bookCourt_span::after {
  content: '✓';
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #007bff; /* Change color as needed */
  display: none;
}

.bookCourt_span.selected::after {
  display: block;
}