:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0%, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}

.view-payment-wrapper::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../Assets/image5.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
  opacity: 0.6;
}

.view-payment{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.view-payment-wrapper {
  flex: 1 0 auto;
}

.view-payment-footer {
  flex-shrink: 0;
}

.view-payment-history {
  width: 92%;
  margin: 50px auto;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
}

.view-payment-table-wrapper {
  max-height: 320px;
  overflow-y: auto;
}

.view-payment-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

.view-payment-table th,
.view-payment-table td {
  padding: 18px;
  text-align: center;
  font-size: 14px;
}

.view-payment-table th {
  background-color: #4caf50;
  color: white;
}

.view-payment-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.view-payment-table tr:hover {
  background-color: #ddd;
}

.view-payment-error-message {
  color: red;
  text-align: center;
}

.view-payment-profile-content h2 {
  text-align: center;
  margin: 50px 0;
  font-size: 40px;
  color: var(--PrimaryColor);
}

.view-payment-header {
  width: 100%;
  text-align: center;
}

.view-payment-footer {
  width: 100%;
  text-align: center;
}
