.buyTime{
    background-image: url('../../Assets/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: fill; */
    height: 75cqh;
}
.buyTime_title {
    display: flexbox;
    text-align: center;
}
.buyTime_centerDiv{
    display: flex;
    justify-content: center;
    margin: 1%;
}
.buyTime_btn {
    padding: 1%;
    margin: 1%;
    background: hsl(26, 93%, 50%);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
}
.buyTime_btn:hover {
    background-color: hsl(26, 92%, 45%);
    color: #fff;
}
.buyTime_article{
    
    box-shadow: -1px 1px 10px 5px #888888;
    border-radius: 5px;
    display: block;
    position: relative;
    width: 80%;
    left: 10%;
    height: 30cqh;
    top: 5%;
}
.buyTime_bodyContainer{
    /* border: black 5px solid; */
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    top: 15cqh;
    height: 45cqh;
    width: 80%;
    left: 10cqw;
    background-color: #fff;
}
.buyTime_counter1{
    text-align: center;
    width: 100px;
    border: 1px black solid;
}
.buyTime_p{
    color: black;
    text-align: center;
    font-weight: 600;
}
.buyTime_err{
    color: red;
    text-align: center;
    font-weight: 600;
}
.buyTime_select{
    width: 50%;
    left: 25%;
    position: relative;
}