.viewcourtinfo-body {
    display: inline-block;
    width: 1460px;
    position: relative;
    top: 100px;
    left: 20px;
    z-index: 1;
    margin: 10px;
    border: 1px solid #d4af37;
    /* Màu vàng gold */
    border-radius: 15px;
    /* Góc bo tròn */
    padding: 15px;
    /* Khoảng cách giữa khung và ảnh */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* Hiệu ứng bóng đổ */
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    /* Hiệu ứng nền gradient nhẹ */
}

.viewcourtinfo-body-pic {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.viewcourtinfo-info {  
    display: block;
    color: black;
    margin-left: 50px;
}
.viewcourtinfo-info p {  
    color: black;
}
.viewcourtinfo-body-des {
    margin-top: 10px;
    margin-left: 15px; 
}


.viewcourtinfo-body-des h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.viewcourtinfo-body-des p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.viewcourtinfo-footer {
    width: 1523px;
    position: relative;
    bottom: -63px;
}

.viewcourtinfo-img {
    width: 500px;
    height: 400px;
    margin-right: 10px;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    /* Góc bo tròn cho ảnh */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Hiệu ứng bóng đổ cho ảnh */

}

.viewcourtinfo {
    width: 100%;
    display: inline;
}
