/* Original CSS */
.slot-form {
  display: flex;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  margin-left: 100px;
}

.slot-form-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.slot-form-label {
  min-width: 150px;
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-right: 30px;
}

.slot-form-label-court {
  min-width: 150px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 50px;
  margin-right: -50px;
  color: black;
}

.slot-input-box-modal {
  width: 400px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
  margin-left: -20px;
}

.slot-input-box-modal:focus {
  border-color: #007BFF;
  outline: none;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 150px;
}

.error-branch {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 180px;
}

.slot-submit-button {
  background-color: black;
  color: #fff;
  padding: 0px 40px;
  width: 400px;
  height: 45px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 1000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  margin-left: 80px;
  align-items: center;
}

.slot-submit-button:hover {
  background-color: hsl(26, 93%, 50%);
}

.time-slot-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px; /* Adjusted to fit four columns */
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.column {
  flex: 1;
  margin-right: 10px;
}

.time-slot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #007BFF;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.time-slot:hover {
  background-color: #e6f7ff;
}

.status-select {
  margin-left: 20px;
  min-width: 120px;
}
