.ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.005) !important;
    /* Điều chỉnh độ trong suốt */
    backdrop-filter: blur(0.5px);
    /* Điều chỉnh độ mờ */
}

.custom-modal .ant-modal-title {
    text-align: center;
    /* Để căn giữa tiêu đề */
    font-size: 30px;
    /* Kích thước của tiêu đề */
}

.button-hover-black:hover {
    background-color: black !important;
    color: white;
    /* Optional: to make the text readable on a black background */
}

.input-box-modal {
    margin: 15px;
    margin-left: 15%;
    width: 90%;
}

.user-modal {
    display: flex;
    margin-top: 2%;
}

.user-modal-left {
    margin-right: 10%;
}

.user-modal-right {
    margin-right: 5%;
    margin-left: 10px;
}

.user-modal-item {
    display: flex;
}

.user-modal-item-text1 {
    margin-top: 20px;
}

.user-modal-item-text1 p {
    color: black;
    font-size: larger;
    font-weight: 500;
    margin-bottom: 45px;
    /* Thiết lập khoảng cách đều phía dưới mỗi thẻ p */
    width: 150%;
    margin-left: 10%;
    line-height: 1.5;
    /* Tăng khoảng cách giữa các dòng trong mỗi thẻ p */
}

.user-modal-item-text2 {
    margin-top: 20px;
}

.user-modal-item-text2 p {
    color: black;
    font-size: larger;
    font-weight: 500;
    margin-bottom: 45px;
    /* Thiết lập khoảng cách đều phía dưới mỗi thẻ p */
    width: 150%;
    margin-left: 30%;
    line-height: 1.5;
    /* Tăng khoảng cách giữa các dòng trong mỗi thẻ p */
}
.button-adduser{
    color: white;
    background-color: black;
    width: 10%;
    border-radius: 5px;
    padding: 5px 0px;
    margin-top: -15px;
}