/* Sidebar.css */
:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0%, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}


.sidebar {
    height: 100vh !important;  /* Full height of the viewport */ 
}
  
  .webNameAdmin {
    font-size: 30px !important;
    margin-left: 50px !important;
  }
  
  .adminName{
  font-size: 32px !important;
  }

  .role{
    font-size: 16px !important;
  }

.pro-icon-wrapper{
  margin-top: -6px;
}

.iconSidebar{
  position: absolute; 
  top: 28%;
  font-size: 35px !important;
  margin: 0;
  padding: 0;
  color: var(--PrimaryColor);
}
.admin-button-logout{
  background-color: #70D8BD;
}
.admin-button-logout:hover{
  background-color: hsl(26, 93%, 50%);
}




  