/* Sidebar.css */
:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0%, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}


.sidebar {
  height: 100vh !important;
  /* Full height of the viewport */
}

.webNameAdmin {
  padding-top: 10px;
  font-size: 30px !important;
  margin-left: 5px !important;
}

.css-i4bv87-MuiSvgIcon-root{
  margin-top: 8px;
}
p.MuiTypography-root.MuiTypography-body1.css-ahj2mt-MuiTypography-root{
  margin-top: 4.3px;
}

.adminName {
  font-size: 32px !important;
}

.role {
  font-size: 18px !important;
}

.pro-icon-wrapper {
  margin-top: -6px;
}

.iconSidebar {
  position: absolute;
  top: 28%;
  font-size: 35px !important;
  margin: 0;
  padding: 0;
  color: var(--PrimaryColor);
}

.admin-button-logout {
  background-color: #70D8BD;
  border: none;
  border-radius: 50px;
  padding: 5% 12% 5% 12%;
  font-size: 100%;
}

.admin-button-logout:hover {
  background-color: hsl(26, 93%, 50%);
}


.css-ahj2mt-MuiTypography-root,
.css-ahj2mt-MuiTypography-root,
.css-ahj2mt-MuiTypography-root,
.css-ahj2mt-MuiTypography-root,
.css-ahj2mt-MuiTypography-root,
.css-ahj2mt-MuiTypography-root,
.css-ahj2mt-MuiTypography-root,
.css-ahj2mt-MuiTypography-root,
.css-ahj2mt-MuiTypography-root,
.css-ahj2mt-MuiTypography-root,
.css-ahj2mt-MuiTypography-root :hover {
  color: var(--textColorHover);
}

.sidebar-section-title{
  font-size: 1rem !important;
  color: var(--greyText) !important;
  margin: 15px 0 5px 16px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-section-title2{
  font-size: 1rem !important;
  color: var(--greyText) !important;
  margin: 15px 0 5px 16px !important;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-section-title3{
  font-size: 1rem !important;
  color: var(--greyText) !important;
  margin: 15px 0 5px 13px !important;
  white-space: nowrap;
  overflow: hidden;
}
