.logo {
    color: white;
    font-weight: 500;
    padding-top: 10px;
}

.logo .icon {
    color: hsl(26, 93%, 50%);
    font-size: 50px;
    margin-right: 10px;
}
.logo h1{
    font-size: 50px;
    color: #fff;
}

.body-element{
    display: flex;
    background-image: url('../../Assets/login.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 13px;
}
.body{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
}
.login{
    padding: 112px;
    margin-left: 20px;
}
.text-element{
    margin-left: 75px;
    margin-top: 80px;
    font-family: "Poetsen One", sans-serif;
}
.text-element h1, h3, h4, h5, p, a{
    color: #fff;
}
p{
    text-align: justify;
}

