:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0%, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}

.navBarSection .header1 {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99.65%;
  z-index: 1000;
  border: none;
  box-shadow: none;
  background-color: black;
}



.navBarSection .header1 .logoDiv .logo {
  color: var(--whiteColor);
  font-weight: 500;
  cursor: pointer;
  justify-content: center;
}
.navBarSection .header1 .logoDiv .logo .flex {
  font-size: 58px;
}
.navBarSection .header1 .logoDiv .logo .icon {
  color: var(--PrimaryColor);
  font-size: 55px !important;
  margin-right: 10px !important;
  margin-left: 20px !important;
}
@media screen and (max-width: 768px) {
  .navBarSection .header1 .navBar {
    background: var(--greyBg);
    position: absolute;
    height: -moz-max-content;
    height: max-content;
    padding: 1rem;
    width: 100%;
    top: 0;
    left: -500%;
    box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
    transition: 0.5s ease;
    z-index: 1000;
  }
  .navBarSection .header1 .navBar .navLists {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: -10%;
  }
  .navBarSection .header1 .navBar .navLists .navItem {
    padding: 1rem 0;
  }
  .navBarSection .header1 .navBar .navLists .navItem .navLink {
    color: var(--textColor);
    font-size: 0.9rem;
    font-weight: 600;
  }
  .navBarSection .header1 .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .navBarSection .header1 .navBar .navLists .headerBtns {
    flex-direction: column;
  }
  .navBarSection .header1 .navBar .navLists .headerBtns .btn {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 35px;
  }
  .navBarSection .header1 .navBar .navLists .headerBtns .btn a {
    font-weight: 600;
    font-size: 16px;
  }
  .navBarSection .header1 .navBar .navLists .headerBtns .btn a:hover {
    color: var(--whiteColor);
  }
  .navBarSection .header1 .navBar .navLists .headerBtns .loginBtn {
    background: none;
    border: 1px solid var(--PrimaryColor);
    color: var(--PrimaryColor);
  }
  .navBarSection .header1 .navBar .navLists .headerBtns .loginBtn a {
    color: var(--PrimaryColor);
  }
  .navBarSection .header1 .navBar .navLists .headerBtns .loginBtn:hover {
    background: var(--HoverColor);
  }
  .navBarSection .header1 .navBar .navLists .headerBtns .loginBtn:hover a {
    color: var(--whiteColor);
  }
  .navBarSection .header1 .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--PrimaryColor);
  }
  .navBarSection .header1 .navBar .closeNavbar:hover .icon {
    color: var(--HoverColor);
  }
  .navBarSection .header1 .activeNavbar {
    left: 0;
  }
}
.navBarSection .header1 .toggleNavbar .icon {
  font-size: 30px;
  color: var(--whiteColor);
}
.navBarSection .header1 .toggleNavbar .icon:hover {
  color: var(--PrimaryColor);
}
.navBarSection .activeHeader {
  background: black;
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
}

@media screen and (min-width: 769px) {
  .navBarSection .toggleNavbar, .navBarSection .closeNavbar {
    display: none;
  }
  .navBarSection .header1 {
    padding: .4rem 2rem;
  }
  .navBarSection .header1 .navBar .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: .5%;
    margin-left: -15%;
  }
  .navBarSection .header1 .navBar .navLists .navItem .navLink {
    color: var(--whiteColor);
    padding: 0 0.45rem;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .navBarSection .header1 .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .navBarSection .header1 .navBar .navLists .headerBtns {
    margin-top: -12px;
  }
  .navBarSection .header1 .navBar .navLists .btn {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 35px;
    margin-top: 13px;
  }
  .navBarSection .header1 .navBar .navLists .btn a {
    color: var(--whiteColor);
    font-weight: 500;
    font-size: 18px;
  }
  .navBarSection .header1 .navBar .navLists .loginBtn {
    background: none;
    border: 1px solid var(--PrimaryColor);
  }
  .navBarSection .header1 .navBar .navLists .loginBtn:hover {
    background: var(--PrimaryColor);
  }
  .navBarSection .header1 .navBar .navLists .loginBtn:hover a {
    color: var(--whiteColor);
  }
}
@media screen and (min-width: 960px) {
  .header1 .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 1024px) {
  .header1 {
    padding: 1rem 8.5rem;
  }
}/*# sourceMappingURL=navbar.css.map */