.css-1di55by-MuiTypography-root{
  font-size: 32px !important;
}

/* h5 */
.css-b1sixc-MuiTypography-root{
  font-size: 16px !important;
}



.css-1wsdv8m-MuiTypography-root{
  font-size: 32px !important;
}

/* h5 */
.css-7zxgqb-MuiTypography-root{
  font-size: 16px !important;
}


/* h4 */
.css-1gwnvns-MuiTypography-root{
  font-size: 20px !important;
}
.css-4hb1nt-MuiTypography-root{
  font-size: 20px !important;
}


/* h5 */
.css-18bglcv-MuiTypography-root{
  font-size: 16px !important;
}
.css-12oq9v-MuiTypography-root{
  font-size: 16px !important;
}

.css-q6y2iz-MuiTypography-root {
  font-size: 16px !important;
}