.pay-success-background {
  background: linear-gradient(to bottom right, #0072b1, #58a14e);
  height: 69vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333; /* Darker text for better readability */
}

.pay-success-paymentresult {
  background-color: #fff; /* Pure white background for the content box */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for 3D effect */
  width: 90%; /* Responsive width */
  max-width: 500px; /* Maximum width */
  padding: 20px;
  text-align: center;
}

.pay-success-container-paymentresult h1 {
  color: #4CAF50; /* Green color for a successful heading */
  margin-bottom: 10px;
}

.pay-success-container-paymentresult p {
  font-size: 16px;
  margin-bottom: 20px;
}

.pay-success-container-paymentresult button {
  background-color: #4CAF50; /* Green button */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pay-success-container-paymentresult button:hover {
  background-color: #388e3c; /* Darker green on hover */
}

/* Styles for failure case */
.failure {
  background: linear-gradient(to top right, #e53935, #ef9a9a); /* Red gradient for failure */
}

.failure h1 {
  color: #e53935; /* Red color for failure heading */
}

.failure button {
  background-color: #e53935; /* Red button for failures */
}

.failure button:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

.icon-payment {
  font-size: 50px;
  margin-bottom: 20px;
  animation: show 0.5s ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
