
.edit-info-wrapper::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../Assets/image1.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px); 
  z-index: -1; 
  opacity: 0.6; 
}
.edit-info-header{
  position: relative;
  top: 0;
}

.edit-info-wrapper {
  margin-top: -10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background {
  position: relative;
  z-index: 1; 
}

.profile-container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8); 
  max-width: 1000px;
  margin: 50px auto 20px; 
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 20px;
  margin-top: -50px;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #ccc;
}

.profile-sidebar p {
  margin: 5px 0;
  font-size: 16px;
  color: #777;
}

.profile-content {
  flex: 2;
  margin-top: 50px;
}

.profile-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.info-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.info-item {
  flex: 1;
  min-width: 220px;
  display: flex;
  flex-direction: column;
}

.info-item label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.info-item input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button-editinfo {
  padding: 10px 20px;
  width: auto;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button-editinfo:hover {
  background-color: #218838;
}

.button.upload {
  background-color: #28a745;
  margin-bottom: 10px;
  padding-right: 75px;
}

.button.upload:hover {
  background-color: #218838;
}

.uploaded-image-container {
  max-width: 100%; /* Đảm bảo container không vượt quá chiều rộng tối đa */
  margin: 0 auto; /* Căn giữa container */
  padding: 20px; /* Để khoảng cách xung quanh ảnh */
  border: 1px solid #ccc; /* Đường viền xung quanh container */
  border-radius: 8px; /* Bo góc container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng cho container */
}

.uploaded-image {
  display: block; /* Để ảnh hiển thị dưới dạng block để có thể căn giữa */
  max-width: 100%; /* Đảm bảo ảnh không vượt quá chiều rộng của container */
  height: auto; /* Để tỷ lệ chiều cao tự động tính theo chiều rộng */
  border-radius: 8px; /* Bo góc ảnh */
}
