
.view-history-wrapper::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../Assets/image5.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
  opacity: 0.6;
}

.view-history-booking-history {
  width: 80%;
  margin: 50px auto;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
}

.view-history-table-wrapper {
  max-height: 250px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.view-history-booking-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

.view-history-booking-table th,
.view-history-booking-table td {
  padding: 15px;
  text-align: left;
}

.view-history-booking-table th {
  background-color: #4caf50;
  color: white;
}

.view-history-booking-second-table th {
  background-color: red;
  color: white;
}

.view-history-booking-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.view-history-booking-table tr:hover {
  background-color: #ddd;
}

.view-history-booking-table .actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.view-history-error-message {
  color: red;
  text-align: center;
}

.view-history-profile-content h2 {
  text-align: center;
  margin: 50px 0;
  font-size: 40px;
  color: white;
}

.upcoming-table {
  margin-bottom: 40px;
}

.past-table {
  margin-top: 40px;
}

.view-history-header, .view-history-footer {
  width: 100%;
  text-align: center;
}

.view-history-table h3{
  font-size: 30px;
}
